body {
    margin: 0;
    background-color: bisque;
    font-family: Smythe;
    user-select: none;
} 

.container{
    width: 100%;
    min-height: 860px;
    margin: 10px auto;
    background-color: white;
    position: relative;
}

header{
    background: #eee url("images/header-bg");
    background-size: cover;
    background-repeat: no-repeat;
    color:white;
}
header h1{
    padding: 1em 0 0 1em;
    margin: 0;
    font-size: 2em;
    font-weight: 400;
    line-height: 24px; 
}
header h2{
    padding: 10px 0 20px 40px;
    font-size: 22.422px;
    font-weight: 400;
    line-height: 13px;
}

.menu-list{
    list-style-type: none;
    margin: 20px;
    padding: 0;
}
.menu-item{
    display: flex;
    margin: 10px;
    padding: 20px;
    height: 100px;
    border-bottom: solid 1px #aaa;
}
.menu-icon{
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 78.72px;
    font-style: normal;
    font-weight: 400;
}
.menu-info{
    display: flex;
    flex-direction: column;
}
.menu-info h4{
    margin: 4px;
    font-size: 24px;
}
.menu-info p{
    margin: 4px;
}
.menu-info h5{
    margin: 4px;
    font-size: 20px;
}

.menu-add{
    background-color: #fff;
    margin: 20px 20px 10px auto;
    border: solid 1px #aaa;
    width:40px;
    height: 40px;
    border-radius: 50%;
    font-family: Inter;
    font-size: 32px;

}
.menu-add:hover{
    background-color: #eee;
}

.summary{
    background-color: rgb(199, 255, 236);
    margin: 0 25px;
    display:none;
}

.summary h3{
    text-align: center;
    font-family: Smythe;
    font-size: 28px;
    font-weight: 400;
    padding: 10px;
    margin: 0;
}
.summary-list{
    list-style-type: none;
    padding: 0;
    margin: 10px;
    border-bottom: 2px solid black;
}
.summary-item{
    margin: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
}
.summary-item h5{
    padding: 0;
    margin: 10px;
    display: inline;
    font-size: 28px;
    font-weight: 400;
}
.summary-item button{
    border:none;
    background-color: rgb(213, 255, 241);
    border-radius: 4px;
    margin-left: 10px;
    padding: 5px 10px;
    font-size: 12px;
}
.summary-item button:hover{
    color: rgb(92, 92, 92);
}
.summary-item-price{
    display: inline;
    margin-left: auto;
    font-size: 28px;
    font-weight: 400;
}

.summary-price{
    margin: 10px 15px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.summary-price h6{
    margin: 0;
    padding: 0;
    color: #0E0E0E;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
}
.summary-total-price{
    font-size:28px;
}




.complete-order-button , .stars-container button{
    border: none;
    width: 95%;
    padding: 12px;
    margin: 10px auto;
    display: block;
    border-radius: 3px;
    background: #16DB99;
    color: var(--white, #FFF);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}

.complete-order-button:hover, .stars-container button:hover{
    background-color: #16cd90;
}

.form-container{
    width:80%;
    height: 80%;
    background-color: #ffffff99;

    /* position: absolute;
    left: 40px;
    right:auto;
    bottom: 40px; */

    position:fixed;
    top: 0;
    left:0;
    right:0;
    bottom:0;
    margin: auto;
    display:none;
}

.form-container h3 {
    text-align: center;
    font-size: 30px;
}
.form-container input, .form-container button {
    display: block;
     margin:20px auto;
    font-size: 20px;
    padding: 15px 20px;
    width:90%;
    box-sizing: border-box;
    border-radius: 5px;
}
.form-container button{
    background-color: #16cd90;
    color: #fff;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: none;
}
.form-container button:hover{
    background-color: #16DB99;
}

.thanks-message{
    background-color: rgb(199, 255, 236);
    text-align: center;
    font-family: Smythe;
    font-size: 28px;
    font-weight: 400;
    padding: 10px;
    margin: 20px;
    display:none;
}

.stars-container{
    background-color: rgb(199, 255, 236);
    text-align: center;
    font-family: Smythe;
    font-size: 28px;
    font-weight: 400;
    padding: 10px;
    margin: 20px;
    color:#fcff30;
    display: none;
}



